[user]
        name = Will Shuttleworth
        email = willshuttle21@gmail.com 
[init]
        defaultBranch = master
[core]
        editor = vim
        excludesfile = /Users/willshuttleworth/.gitignore_global
