[user]
        name = Will Shuttleworth
        email = 93229335+willshuttleworth@users.noreply.github.com
[init]
        defaultBranch = main
[core]
        editor = vim
        excludesfile = /Users/willshuttleworth/.gitignore_global
